<body class="recipe_show_body">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-sm-12 center">
				<div class="index_container">
					<h3>Search for an ingredient or a recipe.<hr>If you want to add it to your shopping cart, just click the add link.</h3>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 center">
				<div class="search_form">
					<div id="search_ing">
						<%= form_tag(ingredients_path, remote: true, class: "search", "data-scroll-to": "#searchResults") do %>
							<%= label_tag "Search Ingredients" %>
							<%= text_field_tag :query %>
							<%= submit_tag "submit" %>
						<% end %>	
					</div>

					<div id="search_recipes">
						<%= form_tag(recipes_path, remote: true, method: :get, class: "search", "data-scroll-to": "#searchResults") do %>
							<%= label_tag "Search Recipes" %>
							<%= text_field_tag :title, params[:search] %>
							<%= submit_tag "submit" %>
						<% end %>	
					</div>
				</div>
			</div>
		</div>
		<div class="center" id="recipe_index_photo">
			<%= image_tag('fruit_veg_grid.jpg')%>
		</div>

		
			
		<section>
			<div id="searchResults"></div>
		</section>
	</div>	
	
</body>