<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>
<div class="container-fluid">
	<div class="row">
		<h3 class="title">
			<strong>Title:</strong>
			<%= @recipe.title %>
		</h3>
		<div class="col-md-6"><%= image_tag("chicken_stir_fry.jpeg") %></div>
		<div class="col-md-6">
			<h3 class="title">Ingredient List</h3>
			<%= form_tag(order_index_path, remote: true) do %>
				<% for i in 0..@ingredient_list.length-1 %>
					<p>
						<input type="checkbox" name="ingredient_id" value="<%= @recipe.ingredients[i].id %>" id="#<%= @recipe.ingredients[i].name.gsub(/[^0-9A-Za-z]/, '') %>">
						<label for="<%= @recipe.ingredients[i].name.gsub(/[^0-9A-Za-z]/, '') %>"><%= @ingredient_list[i] %></label>
					</p>
				<% end %>
				<%= submit_tag "Add to grocery list" %>
			<% end %>
		</div>
	</div>

	<div class="row">
	 	<div class="col-md-8">
	 		<strong>Total Prep/Cooking Time: </strong>
  				<%= @recipe.total_time %>

			<div class="recipe_instructions">
				<strong>Instructions: </strong>
  				<%= @recipe.instructions %>
	  		</div>
		</div>
	</div>
</div>



