<!-- <p>Find me in app/views/recipes/show.html.erb</p> -->
<body class="recipe_show_body">
  
	<div class="container-fluid">
		<h1><%= @recipe.title%></h1>

		<div class="show_container">

			<div class="image_recipe_title">
				<%= image_tag("chicken_stir_fry.jpeg") %>
			</div>

			<div class="ingredients_list">
				<h3 class="title">Ingredient List</h3>
				<hr>
					<strong>Total Prep/Cooking Time: </strong>
	  					<%= @recipe.total_time %>
	  				<hr>
				<ul>
					<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
						<div>
							<button id="<%= recipe_ingredient.ingredient.name.gsub(/[^0-9A-Za-z]/, '')%>"><%= link_to "+", orders_path(name: recipe_ingredient.ingredient.name, user_id: @current_user_id, price: recipe_ingredient.ingredient.price, walmart_id: recipe_ingredient.ingredient.walmart_id), remote: true, method: :post %></button>
							<%= recipe_ingredient.measurement %>
						</div>
					<% end %>
				</ul>
			</div>

		</div>

		<div id="instructions_box">
			<strong>Instructions: </strong>
			<%= @recipe.instructions %>
		</div>


	</div>

</body>
