<ul>
	<% if @order != nil %>
		<% order_total = 0 %>
		<% @order.order_ingredients.each do |order_ingredient| %>
			<% line_total = order_ingredient.ingredient.price * order_ingredient.quantity%>
			<li>
				<span>Ingredient: <%= order_ingredient.ingredient.name %></span>
				<span>Price: <%= order_ingredient.ingredient.price %></span>
				<span>
					<%= form_tag order_ingredient_path(order_ingredient.id), remote: true, method: :put do %>
						<%= hidden_field_tag :id, value: order_ingredient.id %>
						<%= label_tag :quantity %>
						<%= select_tag :quantity, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], order_ingredient.quantity) %>
						<%= submit_tag "update"%>					  
					<% end %>				
				</span>	
				<span>Item Total: <span id="lineTotal"><%= line_total %></span></span>
				<% order_total = order_total + line_total %>
				<%= link_to "Remove", order_ingredient_path(id: order_ingredient.id), method: :delete, remote: true %>
			</li>
			<% end %>
			<% if @user.first_name == nil || @user.last_name == nil || @user.address == nil || @user.city == nil || @user.state == nil || @user.zip == nil || @user.phone_number == nil %>
				<h3>Just so we know where to send everything please tell us more about yourself</h3>
				<%= render "users/registrations/edit" %>
			<% else %>
				<div class="place_order_button">
					<%= form_tag order_path(@order.id), method: :put do %>
						<%= hidden_field_tag :available, value: true %>	
						<%= submit_tag "Place Order" %>
					<% end %>	
				</div>
			<% end %>
		<% end %>
		<div id="orderTotal">
			<%= order_total %>
		</div>
		<%= form_tag order_path(@order.id), method: :put do %>
			<%= hidden_field_tag :available, value: true %>	
			<%= submit_tag "Place Order" %>
		<% end %>
	<% end %>
	<div class="nothing_in_cart">
		<h3>Nothing is in your cart right now</h3>
	</div>
</ul>