<!DOCTYPE html>
<html>
  <head>
    <title>FoodDelivery</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
          <% if !user_signed_in? %>
            <div class="nav-item ">
              <ul class="dropdown test">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"  aria-haspopup="true" aria-expanded="false">Log In</button>
                <div class="dropdown-menu" id="dropdown_menu1" aria-labelledby="dropdownMenuButton">
                  <div class="card" style="width: 20rem;">
                    <div class="card-block">
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <button class="user_toggle_login">User</button>
                        </li>
                        <li class="nav-item">
                          <button class="driver_toggle_login">Driver</button>
                        </li>
                      </ul>
                      <%= render 'users/sessions/new' %>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            <div class="nav-item">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="card" style="width: 20rem;">
                  <div class="card-block">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <button class="user_toggle_login">User</button>
                      </li>
                      <li class="nav-item">
                        <button class="driver_toggle_login">Driver</button>
                      </li>
                    </ul>
                    <%= render 'users/registrations/new' %>
                  </div>
                </div>
              </div>
            </div>
            <% else %>
              <div class="nav-item">
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </div>
            
            </div>
          <% end %>
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
